<h3>Here are all your ingredients:</h3>

<% if @ingredients.any? %>
  <ul>
    <% @ingredients.each do |ingredient| %>
      <li><a href="/ingredients/<%= ingredient.id %>"><%= ingredient.name %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no ingredients yet!</p>
<% end %>

<h3> Add a ingredient: </h3>
<form action="/ingredients" method="post">
  <label for="ingredient_name">Ingredient Name:  </label>
  <input type="text" name="ingredient_name" id="ingredient_name">
  <button type="submit">Add Ingredients</button>
</form>
