<h3><%= @ingredient.name %></h3>

<% if @ingredient.recipes.any? %>
  <ul>
    <% @ingredient.recipes.each do |recipe| %>
      <li><%= recipe %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no recipes yet</p>
<% end %>
