<h3><%= @recipe.name %></h3>

<% if @recipe.ingredients.any? %>
  <ul>
    <% @recipe.ingredients.each do |ingredient| %>
      <li><%= ingredient[0] %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no ingredients yet</p>
<% end %>

<% if @recipe.tags.any? %>
  <ul>
    <% @recipe.tags.each do |tag| %>
      <li><%= tag %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no tags yet</p>
<% end %>
