<h3>Here are all your recipes:</h3>

<% if @recipes.any? %>
  <ul>
    <% @recipes.each do |recipe| %>
      <li><a href="/recipes/<%= recipe.id %>"><%= recipe.name %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no recipes yet!</p>
<% end %>

<h3> Add a recipe: </h3>
<form action="/recipes" method="post">
  <label for="recipe_name">Recipe Name:  </label>
  <input type="text" name="recipe_name" id="recipe_name">
  <button type="submit">Add Recipe</button>
</form>
