<h3><%= @tag.name %></h3>

<% if @tag.recipes.any? %>
  <ul>
    <% @tag.recipes.each do |recipe| %>
      <li><%= recipe.name %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no recipes yet</p>
<% end %>
