<h3>Here are all your tags:</h3>

<% if @tags.any? %>
  <ul>
    <% @tags.each do |tag| %>
      <li><a href="/tags/<%= tag.id %>"><%= tag.name %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no tags yet!</p>
<% end %>

<h3> Add a tag: </h3>
<form action="/tags" method="post">
  <label for="tag_name">Tag Name:  </label>
  <input type="text" name="tag_name" id="tag_name">
  <button type="submit">Add Tags</button>
</form>
